@page "/"

<PageTitle>Home</PageTitle>

<p role="status">Current count: @currentCount</p>

<RadzenButton Click="@IncrementCount" Text="Click me"></RadzenButton>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
