@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
@using System.Text
@inject NotificationService NotificationService
@inject DialogService DialogService
@inject IJSRuntime JsRuntime
<h3>Utility</h3>


@code {

    protected override void OnAfterRender(bool firstRender)
    {
 
    }
    
}