@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
<RadzenComponents @rendermode="InteractiveWebAssembly" />
@inherits LayoutComponentBase
<RadzenDialog />
<RadzenNotification />
<RadzenTooltip />
<RadzenContextMenu />
<main>
    <div class="top-row px-4">
        <a href="https://BlazorData.net/" target="_blank">BlazorData.net</a>
    </div>

    <article class="content px-4">
        @Body
    </article>
</main>
<RadzenFooter>
    <div class="row justify-content-start align-items-center px-2 pt-2 p-3 mb-2 bg-light text-dark">
        <div class="col-12 d-flex align-items-left">
            <p>@@2025</p>
        </div>
    </div>
</RadzenFooter>
<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>